<%- include('partials/header') %>

<div class="login-dark">
  <form method="post">
      <h2 class="sr-only">Login Form</h2>
      <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
    <h1 class="levelHeading">Level-4</h1>
   <h3 class="levelHeading"> Authentication System using hashing and salting  </h3>
    <hr>
    <div class="centerForm">
    <a class="btn btn-info btn-rounded" href="/register" role="button">Register</a>
    <a class="btn btn-outline-info btn-rounded" href="/login" role="button">Login</a>
  </div>
  </div>

<%- include('partials/footer') %>
